@import url("https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css");

html {
  background-image: url(img/reddit_wallpaper.jpg);
  background-repeat: repeat-x;
}

body {
  background-color: rgba(0, 0, 0, 0);
}

.container {
  margin-top: 4em;
  background-color: rgba(255, 255, 255, 0.9);
  max-height: 85vh;
  min-height: 490px;
  overflow: auto;
}

.main-heading {
  margin-bottom: 2em;
}

.multireddit-input {
  width: 100%;
  margin-bottom: 2em;
}

.max-posts {
  margin-left: .5em;
  margin-bottom: 2em;
  width: 4em;
}

.time-period {
  margin-left: .5em;
  margin-bottom: 2em;
}

.get-digest {
  margin-bottom: 2em;
}

.instructions {
  padding-bottom: 2em;
}
